body{
    margin: 0;
    padding: 0;
    
    
    
}
.loginPage{
    background-image: url(../../assets//images//background-login.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
}

.title{
    background-color: white;
    border-radius: 5px;
    width: 39rem;
    height: 3.5rem;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 1rem;
    margin-left: 1rem;
}

.title h1{
    color: #004A90;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25ewm
}


